@use '../styles/mixins' as *;

.features {
  padding: 2rem 0;
}

.features__grid {
  margin-top: 1.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@include tablet {
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mobile {
  .features__grid {
    grid-template-columns: 1fr;
  }
}
